<a href="https://colab.research.google.com/github/MFaishalRamadhan/Capstone/blob/main/Encoding_New_Place_ID_and_Merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# Load place dataset
from google.colab import drive
drive.mount("/content/gdrive")
place_dataset = pd.read_excel(r'/content/gdrive/My Drive/Colab Notebooks/Dataset/Dataset Tempat.xlsx')
place_dataset.head()

Mounted at /content/gdrive

,Place_ID,Name,Image,URL,Rating,Num_Rating,Category,Address,Longitude,Latitude
0,11,Mr.K Cafe Gombel,https://lh5.googleusercontent.com/p/AF1QipOh43...,https://www.google.com/maps/place/Mr.K+Cafe+Go...,4.5,6235,Tempat Makan,"Jl. Setia Budi No.28, Banyumanik, Kota Semarang",110.418685,-7.038795
1,12,Super Penyet Setiabudi,https://lh5.googleusercontent.com/p/AF1QipMufn...,https://www.google.com/maps/place/Super+Penyet...,4.4,5702,Tempat Makan,"Jl. Setia Budi No.207, Banyumanik, Kota Semarang",110.411722,-7.058634
2,13,Sim Six (Sim-6) garden Resto Ngesrep timur,https://lh5.googleusercontent.com/p/AF1QipPfQx...,https://www.google.com/maps/place/Sim+Six+%28S...,4.5,4265,Tempat Makan,"Jl. Ngesrep Tim. V No.25, Banyumanik, Kota Sem...",110.417238,-7.064682
3,14,Sowak (Sop Iwak),https://lh5.googleusercontent.com/p/AF1QipPKYy...,https://www.google.com/maps/place/Sowak+%28Sop...,4.4,4251,Tempat Makan,"Jl. Banjarsari Selatan No.18, Banyumanik, Kota...",110.432990,-7.061215
4,15,Warung Lesehan Fifty Fifty Sumurboto Banyumanik,https://lh5.googleusercontent.com/p/AF1QipNxvJ...,https://www.google.com/maps/place/Warung+Leseh...,4.3,3822,Tempat Makan,"Jl. Ngesrep Tim. V No.118, Banyumanik, Kota Se...",110.426369,-7.053008

In [ ]:
# Load review user dataset
from google.colab import drive
drive.mount("/content/gdrive")
rating_dataset = pd.read_excel(r'/content/gdrive/My Drive/Colab Notebooks/Dataset/Dataset Rating Users.xlsx')
rating_dataset.head()

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

   User_ID  Place_ID  Rating
0        1        12       1
1        1        13       1
2        1        13       3
3        1        29       4
4        1        31       4

In [ ]:
place_id_mapping = {}
new_place_id_counter = 1

In [ ]:
for index, row in place_dataset.iterrows():
    existing_place_id = row['Place_ID']
    place_id_mapping[existing_place_id] = new_place_id_counter
    new_place_id_counter += 1

In [ ]:
# Replace place IDs in place_data using new place IDs
place_dataset['Place_ID'] = place_dataset['Place_ID'].map(place_id_mapping)

In [ ]:
place_dataset

,Place_ID,Name,Image,URL,Rating,Num_Rating,Category,Address,Longitude,Latitude
0,1,Mr.K Cafe Gombel,https://lh5.googleusercontent.com/p/AF1QipOh43...,https://www.google.com/maps/place/Mr.K+Cafe+Go...,4.5,6235,Tempat Makan,"Jl. Setia Budi No.28, Banyumanik, Kota Semarang",110.418685,-7.038795
1,2,Super Penyet Setiabudi,https://lh5.googleusercontent.com/p/AF1QipMufn...,https://www.google.com/maps/place/Super+Penyet...,4.4,5702,Tempat Makan,"Jl. Setia Budi No.207, Banyumanik, Kota Semarang",110.411722,-7.058634
2,3,Sim Six (Sim-6) garden Resto Ngesrep timur,https://lh5.googleusercontent.com/p/AF1QipPfQx...,https://www.google.com/maps/place/Sim+Six+%28S...,4.5,4265,Tempat Makan,"Jl. Ngesrep Tim. V No.25, Banyumanik, Kota Sem...",110.417238,-7.064682
3,4,Sowak (Sop Iwak),https://lh5.googleusercontent.com/p/AF1QipPKYy...,https://www.google.com/maps/place/Sowak+%28Sop...,4.4,4251,Tempat Makan,"Jl. Banjarsari Selatan No.18, Banyumanik, Kota...",110.432990,-7.061215
4,5,Warung Lesehan Fifty Fifty Sumurboto Banyumanik,https://lh5.googleusercontent.com/p/AF1QipNxvJ...,https://www.google.com/maps/place/Warung+Leseh...,4.3,3822,Tempat Makan,"Jl. Ngesrep Tim. V No.118, Banyumanik, Kota Se...",110.426369,-7.053008
...,...,...,...,...,...,...,...,...,...,...
560,561,Eastman Café,https://lh5.googleusercontent.com/p/AF1QipNQDd...,https://www.google.co.id/maps/place/Eastman+Ca...,4.6,180,Kafe,"Jl. Mugas Jl. Tri Lomba Juang No.5, Tugu, Kota...",110.384508,-7.016921
561,562,KOJA KOPI BAJA + BAHAN MATERIAL BANGUNAN SEGAL...,https://lh5.googleusercontent.com/p/AF1QipMLEL...,https://www.google.co.id/maps/place/KOJA+KOPI+...,4.8,124,Kafe,"Randu Garut, Tugu, Kota Semarang",110.336398,-7.165186
562,563,Angkringan Tugu,https://lh5.googleusercontent.com/p/AF1QipMjrn...,https://www.google.co.id/maps/place/Angkringan...,4.7,71,Kafe,"Jl. Candi Pawon Selatan XI No.23, Tugu, Kota S...",110.322564,-6.975750
563,564,KL Coffee,https://lh5.googleusercontent.com/p/AF1QipP4bL...,https://www.google.co.id/maps/place/KL+Coffee/...,4.7,36,Kafe,"Jl. Mulawarman Raya No.21, Tugu, Kota Semarang",110.425910,-6.968165
564,565,Point Coffee KITW,https://lh5.googleusercontent.com/p/AF1QipPHcu...,https://www.google.co.id/maps/place/Point+Coff...,4.7,35,kafe,"Jl. Tugu Industri I, Tugu, Kota Semarang",110.411194,-6.986060

In [ ]:
# Replace place IDs in review_data using new place IDs
rating_dataset['Place_ID'] = rating_dataset['Place_ID'].map(place_id_mapping)

In [ ]:
rating_dataset

        User_ID  Place_ID  Rating
0             1         2       1
1             1         3       1
2             1         3       3
3             1        19       4
4             1        21       4
...         ...       ...     ...
822816    18002        90       2
822817    18002        90       2
822818    18002        93       1
822819    18002        95       3
822820    18002        96       3

[822821 rows x 3 columns]

In [ ]:
users_dataset = rating_dataset.merge(place_dataset, on='Place_ID')

In [ ]:
users_dataset

,User_ID,Place_ID,Rating_x,Name,Image,URL,Rating_y,Num_Rating,Category,Address,Longitude,Latitude
0,1,2,1,Super Penyet Setiabudi,https://lh5.googleusercontent.com/p/AF1QipMufn...,https://www.google.com/maps/place/Super+Penyet...,4.4,5702,Tempat Makan,"Jl. Setia Budi No.207, Banyumanik, Kota Semarang",110.411722,-7.058634
1,4,2,2,Super Penyet Setiabudi,https://lh5.googleusercontent.com/p/AF1QipMufn...,https://www.google.com/maps/place/Super+Penyet...,4.4,5702,Tempat Makan,"Jl. Setia Budi No.207, Banyumanik, Kota Semarang",110.411722,-7.058634
2,7,2,2,Super Penyet Setiabudi,https://lh5.googleusercontent.com/p/AF1QipMufn...,https://www.google.com/maps/place/Super+Penyet...,4.4,5702,Tempat Makan,"Jl. Setia Budi No.207, Banyumanik, Kota Semarang",110.411722,-7.058634
3,22,2,2,Super Penyet Setiabudi,https://lh5.googleusercontent.com/p/AF1QipMufn...,https://www.google.com/maps/place/Super+Penyet...,4.4,5702,Tempat Makan,"Jl. Setia Budi No.207, Banyumanik, Kota Semarang",110.411722,-7.058634
4,22,2,3,Super Penyet Setiabudi,https://lh5.googleusercontent.com/p/AF1QipMufn...,https://www.google.com/maps/place/Super+Penyet...,4.4,5702,Tempat Makan,"Jl. Setia Budi No.207, Banyumanik, Kota Semarang",110.411722,-7.058634
...,...,...,...,...,...,...,...,...,...,...,...,...
822816,16192,400,4,Civita Souvenir Tembalang,https://lh5.googleusercontent.com/p/AF1QipNDUE...,https://www.google.com/maps/place/Civita+Souve...,4.4,9,Toko Suvenir,"WFR7+P3X, Jl. Bukit Kencana Jaya, Tembalang, K...",110.460149,-7.058130
822817,16815,400,4,Civita Souvenir Tembalang,https://lh5.googleusercontent.com/p/AF1QipNDUE...,https://www.google.com/maps/place/Civita+Souve...,4.4,9,Toko Suvenir,"WFR7+P3X, Jl. Bukit Kencana Jaya, Tembalang, K...",110.460149,-7.058130
822818,17271,392,1,LuXury Souvenir,https://lh5.googleusercontent.com/p/AF1QipNmF9...,https://www.google.com/maps/place/LuXury+Souve...,5.0,1,Toko Suvenir,"Jl. Mulawarman Timur V No. 30, Tembalang, Kota...",110.438319,-7.067936
822819,17292,391,3,Packachy Packing and Souvenir Semarang,https://streetviewpixels-pa.googleapis.com/v1/...,https://www.google.com/maps/place/Packachy+Pac...,5.0,1,Toko Suvenir,"Jl. Nirwanasari Raya No.33, Tembalang, Kota Se...",110.436105,-7.060510
822820,17301,371,2,Souvenir & Mahar Mbak Iin,https://lh5.googleusercontent.com/p/AF1QipN74A...,https://www.google.com/maps/place/Souvenir+%26...,5.0,1,Toko Suvenir,"Pasar Johar Lama Tengah No. 163, Semarang Teng...",110.407609,-6.972119

In [ ]:
users_dataset.to_excel('Users_Dataset.xlsx', index=False)